.SearchPage{
  width: 50%;
  height: 280px;
  margin: 100px 50px 50px 350px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
  background-image: url(flim.jpeg);
}

@media (max-width:560px)
{
  .SearchPage{
    background-color:#33cccc;
    margin: 100px 0px 50px 15px;
  }
}
